.Site_body{
	background-image: url("MasterPage_Picture.jpg");
	height: 100%;
	background-position: center;
	background-repeat: all;
	background-size: cover;
}

.navbar
{
	background-color: rgb(4,25,34);
}

html *
{
	color:white;
}